.container{
    margin: 40px 250px;
    box-shadow: 0px 0px 20px lightgray;
    height: 650px;
    border-radius: 10px;
}

.left{
    width: 40%;
    float: left;
    height: 650px;
    border-radius: 10px;
    background-color: #30C2AC;
}

.signup{
    color: white;
    padding: 100px 30px;
    font: normal 50px Bahnschrift;
    text-align: center;
}

.signup p{
    padding: 30px 50px;
    font: normal 25px Bahnschrift;
}

.right{
    width: 60%;
    overflow: hidden;
    height: 650px;
}

.myform{
    padding: 50px;
}

.myform p{
    margin: 5px 30px;
    color: rgb(5, 5, 5);
    font: normal 15px sans-serif;
}

.right input[type="text"], input[type="email"], input[type="password"]{
    margin: 5px 30px 15px 30px;
    width: 85%;
    height: 35px;
    border: none;
    border-bottom: 1px solid gray;
    font: normal 20px Calibri;
}

.right input[type="checkbox"]{
    float: left;
    margin: 0px 10px 0px 40px;
}

.right span{
    margin: 20px;
    margin-bottom: 50px;
    color: gray;
    font: normal 15px sans-serif;
}

.btn{
    background-color: #30C2AC;
    border-radius: 30px;
    font: normal 22px Calibri;
    color: white;
    padding: 15px;
    border: none;
    width: 40%;
    margin: auto;
    margin-left: 27px;
}

.img{
    text-align: center;
}

#errFname, #errLname, #errEmail, #errPass, #errUname, #errPasslen, #errPassCh, #errUnlen, #errUnCh{
    color: red;
}